
header{
    width: 100%;
    height: .42rem;
    line-height: .42rem;
    background-color: #ff8a00;
    padding: 0 .34rem;
    box-sizing: border-box;
}
header img{
    width: 100%;
}
header span{
    display: inline-block;
    width:.98rem ;
    height: .42rem;
    background:url("../image/index/logo.jpg") no-repeat center center;
    background-size: 100%;
}
header span:nth-of-type(3){
    width: .22rem;
    background: url("../image/index/my.jpg") no-repeat center center;
    background-size: 100%;
    float: right;
}
header span:nth-of-type(2){
    width: .22rem;
    background: url("../image/index/xiazai.jpg") no-repeat center center;
    background-size: 100%;
    float: right;
    margin-left: .21rem;
}